<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product in Farm</title>
</head>
<body>
    <h1>New Product in Farm</h1>
    <form action="/farms/<%= id %>/products" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <h3>Category</h3>
        <input type="radio" name="category" id="fruit" value="fruit">
        <label for="fruit">Fruit</label>
        <input type="radio" name="category" id="vegetable" value="vegetable">
        <label for="vegetable">Vegetable</label>
        <input type="radio" name="category" id="dairy" value="dairy">
        <label for="dairy">Dairy</label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>