<% layout("layouts/boilerplate.ejs") %>

<h1>Register Here</h1>

<form action="/success" method="post">
    <label for="email">email</label>
    <input type="email" name="email" id="email" required>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"required>
    <button type="submit">Register</button>
</form>