<%- include("partials/head.ejs") %> 
<body>
    <%- include("partials/navbar.ejs") %>
    <h1>Welcome to Supavich Page, How can I help you todya<%= 2+2 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellendus iure dolorem, tempore maiores, rerum inventore accusantium ut incidunt recusandae nostrum saepe. Voluptatibus unde vitae, ad recusandae deleniti voluptatum ullam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam ea illo provident qui atque velit error magnam cupiditate minima officiis, molestias fuga, omnis non ipsa! Tenetur quaerat laboriosam voluptates minima!
    Quasi iusto labore distinctio eos deleniti molestiae officiis quia explicabo maxime inventore consectetur error dolorem, commodi similique doloribus ipsam, perspiciatis voluptatum cum expedita ex eligendi impedit sapiente qui ut. Vero.
    Quo atque iusto ex ullam deleniti exercitationem tempore reiciendis eum perferendis, corrupti sint! Explicabo, voluptate! Magnam possimus, vero aliquid voluptatem accusantium delectus laborum omnis consequatur animi, amet nobis. Rerum, quam?
    Asperiores harum quos ea mollitia hic voluptatem, commodi quia saepe incidunt obcaecati. Debitis nemo aperiam quis iure minima molestiae voluptates cupiditate libero, distinctio et neque sequi velit iusto enim commodi.
    Rerum labore possimus quia expedita voluptatem repudiandae dolorem repellendus magnam impedit autem. Libero, accusamus perspiciatis! Ullam voluptatem, perferendis exercitationem consequuntur earum veniam blanditiis nostrum facilis voluptates, nam nobis excepturi unde!</p>
</body>
</html>